.modal-backdrop {
  bottom:0;
}

.form-inline .form-control {
  display: block;
  width: 100%;
}
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline:before, .form-inline:after {
  display: table;
  content: " ";
}
.form-inline:after {
  clear: both;
}
.form-inline>[class*='col-']:not(button) {
  padding-left:0;
}


.modal.fade .modal-dialog, .modal.in .modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-content {
  position: absolute;
  top:50%;
  -ms-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  width:100%;
}
body {
    padding-top: 50px;
}

.jumbotron {
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    text-shadow: 0 0 0.5px rgba(0,0,0,.05),0 0.5px 1px rgba(0,0,0,.3);
    color: #000;
    border-bottom: 1px solid #88776C;
    min-height: 250px;
    margin-bottom: 0;
}

#pump-image {
    height: 350;
    width: 350;
}

#home-header {
    min-height: 350px;
}

.jumbotron .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/GreenCar.jpg) bottom center;
    opacity: .9;
    width: 100%;
    height: 100%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#call-to-action {
    min-height: 50px;
}