<div class="jumbotron pagination-centered text-center">
    	<p>Let's start. Analyze a car, or compare cars</p>
		<div class="btn-group">
		    <label class="btn btn-lg btn-primary" ng-model="carMode" btn-radio="'single'">Single Car</label>
		    <label class="btn btn-lg btn-primary" ng-model="carMode" btn-radio="'compare'">Compare Cars</label>
	    </div>
</div>
<div class = "row-fluid pagination-centered text-center" id = "{{carMode}}" ng-show = "!{{carMode}}" ng-include="carModeView()"></div>